:org.apache.felix.configadmin.revision:=L"3"
alias=""
enabled=B"true"
id="modbus0"
invalidateElementsAfterReadErrors=I"1"
ip="192.168.4.76"
logVerbosity="READS_AND_WRITES_VERBOSE"
port=I"502"
service.factoryPid="Bridge.Modbus.Tcp"
service.pid="Bridge.Modbus.Tcp.9b2bfec7-3fee-4f76-9b5b-3137de6010a3"
